.mmInputPesquisa {
	text-align: left;
}
.mmInputPesquisa, input {
	margin-right: 10px;
}
.mmInputPesquisa button {
	float:right;
	padding: 6px 30px 6px 30px;
}
.Email {
    width: 220px;
}
.Id {
    width: 70px;
}
.Telefone {
    width: 140px;
}
.Nascimento {
    width: 140px;
    text-align: center;
}
.Acoes {
    width: 100px;
    text-align: center;
}
.ui-button {
	margin: 1.5px;
	height: 2em;
}

