<p>{{  dadosResponse | json }}</p>

<section class="content">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Membros</h3>
              </div>
              <div class="tabela">
                <p-table #dataTable [columns]="colunas" [value]="dados" selectionMode="single" 
                         [responsive]="true" [paginator]="true" [rows]="5" >

                    <ng-template pTemplate="caption">
                      <div class="mmInputPesquisa">          
                          <input type="text" pInputText size="50" placeholder="Pesquisa" (input)="dataTable.filterGlobal($event.target.value, 'contains')" >
                          <i class="fa fa-search"></i>            
                          <button type="submit" class="btn btn-primary" [routerLink]="['/membros/cadastro']">Novo</button> 
                      </div>
                    </ng-template>    
                    <ng-template pTemplate="header" let-columns >
                        <tr>
                            <th *ngFor="let coluna of colunas" [pSortableColumn]="coluna.field" [ngClass]="coluna.header">
                                {{ coluna.header }}                              
                              <p-sortIcon [field]="coluna.field" *ngIf="coluna.filter"></p-sortIcon>                        
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dado >
                        <tr>
                           <td *ngFor="let col of colunas">    
                              <div *ngIf="col.field == 'data_nascimento'">
                                {{ dado[col.field] | date: 'dd/MM/yyyy' }}  
                              </div>                              
                              <div *ngIf="!(col.field == 'data_nascimento')">
                                {{ dado[col.field] }}  
                              </div >    

                              <div *ngIf="col.header =='Acoes'">
                                <button pButton class="btn btn-primary" [routerLink]="['/membros', dado.id]" icon="fa fa-pencil"></button> 
                                <button pButton class="btn btn-primary" (click)="confirm(dado)" icon="fa fa-trash-o"></button>                              
                              </div>                            
                            </td>
                           
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        {{ membroSelecionado | json }}
                    </ng-template>


                </p-table>

                <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="500">
                  
                </p-confirmDialog>

              </div>
          </div>
      </div>
  </div>
</section>

